@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#marquee{
    position: fixed;
    width: 100%;
    top: 0;
    
  
}




.search-input{
    width: 60vw !important;
    height: 6vh;
    align-self: center;
   
}

.h2-appName{
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    white-space: nowrap;
    
}

.ulstyle{
    position: absolute;
    top: 200px;
}

.liststyle{
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;


}
.div-eachCompany{
   text-align: left;
   margin-left: 25px;
   margin-top: 10px;
}
.hr-deviderCompanys{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 88vw;
    
}

.navbar:hover {
    background-color:rgb(252, 248, 227) !important

}

.loader-custom{
    position: absolute;
    left: 70px;
    display: none;
}

.image-company{
    height: 10vh;
    width: 10vw;
}
.image-company{
    width: 5vw;
    height: 5vh;
    margin-right: 4vw;
}

.green-price{
    color: #28a745;
   
    
}

.red-price{
    color:#dc3545;
}
#results{
    margin-bottom: 5vh;
    margin-top: 8vh;
    margin-left: 5vw;
   
}
#company-infos{
    display: inline-block;
    margin-right: 10vw;
  }
  #company-description{
    margin-top: 35vh;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
  }
  #company-price{
      position: absolute;
      background-color: #fcf8e3;
      
      top: 25vh;
      left: 30vw;
    font-size: xx-large;}

    #company-name{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        font-size: 300%;
        font-weight: bold;
        top: 15vh;
        left: 30vw;

    }

    #company-changes{
        position: absolute;
        top: 25vh;
        left: 90vh ;
    }


.div1{
    height: 10vh;
    width: 80vw;
    margin-left: 40px;
    margin-top: 40px;
}
.div2{
    height: 30vh;
    width: 80vw;
    margin-left: 40px;
}
.div3{
    height: 50vh;
    width: 80vw;
    margin-left: 40px;
}

.namestyle{
  margin-left: 40px;
}
.loader-custom-company{
  position: absolute;
  left: 70px;
  top: 75px;
}

.big-description {
    margin-top: 22vh !important;
    margin-bottom: 30vh !important;
    font-size:99% !important;


}

canvas{
    margin-top: 100px;
}

.marquee{
    font-family: Verdana,Tahoma, sans-serif;
    background-color: rgb(252, 248, 227);
    white-space: nowrap;
    height: 3vh;
    position: absolute;
    overflow: hidden;
    animation: marquee 50s linear infinite; 
    
}

.dollar-signal{
    font-size: large;
}



.div-appName{
    text-align: center;
    margin-top: 5vh;
    width: 100vw;
    height: 20vh;


    
}

.image-duck{
    width: 57vw;
    height: 40vh;
    
}
.price-color{
    color: #28a745;
    margin-right: 10px;
}

.my-footer {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.my-footer-text{
    position: absolute;
    text-align: center;
     font-family:Verdana, Geneva, Tahoma, sans-serif
}

.btn-outline-success{
    border-color : black;
}

.btn-outline-success:hover {
    color: #28a745;
    border-color : black;
    background-color: rgb(252, 248, 227) !important;
}

@keyframes marquee{
    0% { left: 0;}
    100%{left: -100%;}
}
